.orderItemContainer {
  border: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.75rem;
}
.orderItemGrid {
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .orderItemContainer {
    flex-direction: row;
    font-size: 1rem;
  }
}
