.wishlistComponentContainer {
  max-width: 950px;
  margin: 0 auto;
  padding: 2em;
  margin-top: 1rem;
}
.wishlistComponentContainer p {
  margin-bottom: 1rem;
}
.wishlistComponentGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
