.wishlistComponentContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
  margin-top: 1rem;
}
.wishlistComponentContainer p {
  margin-bottom: 1rem;
}
.wishlistComponentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
